* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background-color:black;
}

.header button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.header button:hover {
  background-color: #e2e8f0;
}

.main {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}
